<!--<div class="container">-->
  <!--&lt;!&ndash;<h1 class="title">&ndash;&gt;-->
    <!--&lt;!&ndash;{{ 'PAGES.HOME.TITLE' | translate }}&ndash;&gt;-->
  <!--&lt;!&ndash;</h1>&ndash;&gt;-->
<!--</div>-->

candle plot!


<svg UiCandlePlotSvg draggable="true" width="800" height="480"  viewBoxX="-4300" viewBoxY="0" viewBoxWidth="800" viewBoxHeight="480"   class="UiCandlePlotSvg"    >


  <!--<g transform="translate(0,300)scale(1,-1)"  >-->
    <!--<g Candle></g>-->
  <!--</g>-->
</svg>

<button (click)="sendMessage()"  >Send Message</button>
