
.UiCandlePlot{
  background-color:blue;
}

.UiCandlePlotSvg{
  background-color:#dedede;
}


.UiCandle {

}



.rectIncrease{
  stroke-width: 1;
  stroke:green;
  fill:none;
}

.rectDecrease{
  stroke-width: 1;
  stroke:red;
  fill:none;
}

.lineIncrease{
  stroke-width: 1;
  stroke:green;
  fill:none;
}

.lineDecrease{
  stroke-width: 1;
  stroke:red;
  fill:none;
}
