<!--<div class="container">-->
  <!--&lt;!&ndash;<h1 class="title">&ndash;&gt;-->
    <!--&lt;!&ndash;{{ 'PAGES.HOME.TITLE' | translate }}&ndash;&gt;-->
  <!--&lt;!&ndash;</h1>&ndash;&gt;-->
<!--</div>-->

candle plot!

<!--<svg:rect x="0" y="0" height="800" width="1000" style="background-color: #f8efc0;"></svg:rect>-->
<!--<svg:rect x="0" y="0" height="400" width="800" style="background-color: #dedede"></svg:rect>-->

<svg UiCandlePlotWindow  width="600" height="300"     class="UiCandlePlotWindow"   >

</svg>

<button (click)="sendMessage()"  >Send Message</button>
